.archive button.ui.primary.button,
.ui.primary.buttons button.button {
  background-color: #fbbd08;
}
.archive button.ui.primary.button:hover,
.ui.primary.buttons button.button:hover {
  background-color: #eaae00;
}
